@import 'mixins.scss';

#home {   
    padding: 1.5rem;

    @media screen and (min-width: 992px){
        padding: 4rem 19%;
    }

    .btn {
        &:focus {
            box-shadow: none;
        }
    }

    .dropdown {
        margin-left: auto;
        
        button::after {
            display: none;
        }

        img {
            margin-left: 0.5rem;
            transition: 300ms ease all;
        }
        
        .dropdown-menu {
            border: none;
            box-shadow: 0 0 5px rgb(124, 93, 250);


            .btn-group {
                label:nth-of-type(n+2):nth-of-type(-n+3){
                    border-right: solid 1px rgb(124, 93, 250);
                    border-left: solid 1px rgb(124, 93, 250);
                }
            }
            .btn-check:focus+.btn, .btn:focus {
                box-shadow: none;
            }
        }
    }
    .dropdown-night {
        background-color: rgb(30, 33, 57);
        label {
            color: #fff;
        }
    }
    .show.dropdown {
        img {
            transform: rotate(180deg);
        }
    }

    @include purple-btn;

    @include horizontal-div;

    .horizontal-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 0.5fr 0.5fr;
        @media screen and (min-width: 992px) {
            grid-template-columns: 4rem 1fr 1fr 1fr 6rem 0.5rem;
            grid-template-rows: 1fr;
        }        
        column-gap: 2rem;
    }

    .status {
        margin-left: auto;
        grid-row: 2 / span 2;
        grid-column: 2;
        order: 4;
        @media screen and (min-width: 992px) {
            grid-row: initial;
            grid-column: initial;
            order: 5;
        }
    }
}